<div class="home-container">
    <h1>Ласкаво просимо до нашого веб-сайту!</h1>
    <p>Це головна сторінка вашого сайту. Тут можна розмістити будь-яку інформацію, яка буде корисною для ваших користувачів.</p>
  
    <section>
      <h2>Про нас</h2>
      <p>Ми спеціалізуємося на наданні якісних послуг і завжди прагнемо до досконалості в усіх аспектах нашої діяльності.</p>
    </section>
  
    <section>
      <h2>Наші продукти</h2>
      <p>У нас ви знайдете великий асортимент товарів, які відповідають найвищим стандартам якості.</p>
    </section>
  
    <section>
      <h2>Зв'язок з нами</h2>
      <p>Ми завжди раді відповісти на ваші питання. Перейдіть на сторінку <a routerLink="/contact">Контакти</a>, щоб зв'язатися з нами.</p>
    </section>
  
    <section>
      <h2>Анімація стану</h2>
      <app-state-animation></app-state-animation>
  </section>

  <!-- Keyframes Animation Component -->
  <section>
      <h2>Анімація через Keyframes</h2>
      <app-keyframe-animation></app-keyframe-animation>
  </section>

  <!-- Reusable Animation Component -->
  <section>
      <h2>Reusable Animation</h2>
      <app-reusable-animation></app-reusable-animation>
  </section>
  </div>  